@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Zilla+Slab:ital@0;1&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(118, 168, 255);
    color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
    padding: 5px;
}
h1{
    font-size: 3rem;
}
p{
    font-size: 1.5rem;
}
.head_img{
    width: 800px;
    height: 400px;
}
footer{
    height: 5vh;
}