@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Zilla+Slab:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(118, 168, 255);
  color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
}
.intro {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 20vh;
  left: 10%;
}
h1 {
  font-size: 3rem;
  margin: 10px;
}
p {
  margin: 5px;
  font-size: 1.5rem;
  font-weight: 300;
}
.hac {
  font-style: italic;
  font-weight: 500;
}
a {
  color: rgb(2, 2, 2);
  text-decoration: none;
  text-decoration: underline;
  margin: 20px;
  font-size: 2rem;
}
.btn-sb {
  padding: 1em;
  font-size: medium;
  font-weight: 500;
  background-color: transparent;
}

.btn-sb:hover {
  background-color: #06283d;
  color: white;
  box-shadow: 0.1em 0.1em #06283d;
}

footer {
  background-color: gray;
  height: 5vh;
}
