.todolist-main-div {
    width: 100%;
    min-height: 100vh;
    background: #7bed9f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .todolist-center-div {
    width: 25%;
    min-height: 70vh;
    background-color: #f4f4f4;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin:10vh auto;
  }
  
  .todolist-h1 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 50px;
    margin-bottom: 30px;
    min-width: 64px;
    box-sizing: border-box;
    font-family: "Comfortaa", cursive;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
  
  .todolist-input {
    text-align: center;
    height: 30px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    width: 60%;
    border-bottom: 2px solid #8566aa;
    outline: none;
    margin-right: 20px;
  }
  
  .todolist-newBtn {
    width: 50px;
    height: 55px;
    background-color: #16a085 !important;
    color: white !important;  
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    border-radius: 50% !important;
  }
  
  .todolist-newBtn:hover {
    color: #16a085 !important;
    background: white !important;
  }

  
  .todolist-MuiSvgIcon-root {
    width: 2rem !important;
    height: 2rem !important;
  }
  
  .todolist-ol {
    padding-left: 0px !important;
    margin-top: 30px !important;
  }
  
  .todolist-ol li {
    padding-left: 0px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    min-height: 40px;
    display: flex;
    align-items: center;
    color: #8566aa;
    text-transform: capitalize;
    list-style: none;
  }

  .todolist-todo-style {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
  
  .todolist-todo-style .deleteIcon {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8566aa;
    border-radius: 50%;
    margin: 0 15px 0 35px;
    padding: 5px;
    color: aliceblue;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .todolist-todo-style .deleteIcon:hover {
    background-color: transparent;
    color: crimson;
    box-shadow: 5px 5px 15px -5px rgba(255, 0, 0, 0.5);
  }
  
  .todolist-todo-style .fa-times:hover .list-style {
    color: crimson;
  }
  
  @media (max-width: 768px) {  
    .todolist-center-div {
      width: 55%;  
    }

    .todolist-todo-style .fa-times {
      margin: 0 15px 0 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .todolist-button {
      margin-left: 5px;
      min-height: 40px;
      width: 40px;
      color: #fff;
      font-size: 30px;
    }
  }
  

  .todolist-back-btn{
    position:fixed;
    left:10px;
    top:10px;
    cursor: pointer;
  }